@import '../Layout.scss';
nav{
    min-height: $header-height;

    .nav-item{
        font-weight: bold;
        display: flex;
        align-items: center;
        text-decoration: none;

        &.sel-border{
            border-top: 5px solid;
        }
    }

    .logo {
        width: 133px;
        height: 26px;
        object-fit: contain;
    }
}